section.it-about-us

	.it-container
		.it-all-title
			|    О клинике
		.it-about-us__wrap
			.it-about-us__half.it-about-us__half--left
				.it-about-us__content
					.it-about-us__desc
						p
							|	Мы предлагаем возможность стационарного лечения под круглосуточным наблюдением врачей, во время которого осуществляется интенсивная терапия и постоянный контроль за состоянием животного.
						p
							|	Также Вы можете оставить своего питомца в дневном стационаре клиники для проведения лечебных мероприятий, а вечером забрать животное домой. Инфекционный стационар позволяет осуществлять лечение инфекционных пациентов при минимальном риске для других посещающих клинику животных
					a(href="/o-klinike/").it-about-us__link
						|	Подробее
			.it-about-us__half.it-about-us__half--right
				.it-about-us__video
					iframe(width='100%', height='266', src='https://www.youtube.com/embed/WuYk7TSzp78', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')