section.it-base-offer
	.it-container
		.it-base-offer__wrap.owl-carousel(data-owl-carousel data-owl-items-dots="true")
			.it-base-offer__item
				.it-base-offer__half.it-base-offer__half--left
					.it-base-offer__content
						.it-base-offer__title
							|	Круглосуточный прием
						.it-page-offer__subtitle
							|    Ветклиника им. Евгении Мамоновой работает без выходных.
							| Вы получаете протокол осмотра животного
						.it-base-offer__buttons
							a(href="#").it-base-offer__btn.it-btn
								|	Экстренный вызов
				.it-base-offer__half.it-base-offer__half--right
					.it-base-offer__img-box
						img.it-base-offer__img(src="static/img/vetklinika72/base-offer/1.png", alt='')
			.it-base-offer__item
				.it-base-offer__half.it-base-offer__half--left
					.it-base-offer__content
						.it-base-offer__title
							|	Записаться на прием
						.it-page-offer__subtitle
							|    УЗИ-диагностика, цифровой рентген, современная лаборатория
						.it-base-offer__buttons
							a(href="#").it-base-offer__btn.it-btn
								|	Экстренный вызов
				.it-base-offer__half.it-base-offer__half--right
					.it-base-offer__img-box
						img.it-base-offer__img(src="static/img/vetklinika72/base-offer/2.png", alt='')
			.it-base-offer__item
				.it-base-offer__half.it-base-offer__half--left
					.it-base-offer__content
						.it-base-offer__title
							|    Отделение реанимации
							br
							| и интенсивной терапии
						.it-page-offer__subtitle
							|    круглосуточный стационар
						.it-base-offer__buttons
							a(href="#").it-base-offer__btn.it-btn
								|	Экстренный вызов
				.it-base-offer__half.it-base-offer__half--right
					.it-base-offer__img-box
						img.it-base-offer__img(src="static/img/vetklinika72/base-offer/3.png", alt='')
			.it-base-offer__item
				.it-base-offer__half.it-base-offer__half--left
					.it-base-offer__content
						.it-base-offer__title
							|	13 узких специалистов
						.it-page-offer__subtitle
							|   Кардиолог, офтальмолог, дерматолог, эндокринолог, невролог, стоматолог, репродуктолог, хирург, травматолог, терапевт, вакцинолог, орнитолог, ратолог
						.it-base-offer__buttons
							a(href="#").it-base-offer__btn.it-btn
								|	Узнать подробнее
				.it-base-offer__half.it-base-offer__half--right
					.it-base-offer__img-box
						img.it-base-offer__img(src="static/img/vetklinika72/base-offer/4.png", alt='')
			.it-base-offer__item
				.it-base-offer__half.it-base-offer__half--left
					.it-base-offer__content
						.it-base-offer__title
							|	Груминг-салон "Мимими"
						.it-page-offer__subtitle
							|    Профессионально и гуманно для кошек и собак всех пород
						.it-base-offer__buttons
							a(href="#").it-base-offer__btn.it-btn
								|	Узнать подробнее
				.it-base-offer__half.it-base-offer__half--right
					.it-base-offer__img-box
						img.it-base-offer__img(src="static/img/vetklinika72/base-offer/5.png", alt='')