section.it-doctors
	.it-container
		.it-all-title
			|	Наши врачи
		.it-doctors__wrap.owl-carousel(data-owl-carousel data-owl-items-dots="true")
			.it-doctors__item
				.it-doctors__half.it-doctors__half--left
					.it-doctors__img-box
						img.it-doctors__img(src="static/img/vetklinika72/doctors/1.jpg", alt='')
				.it-doctors__half.it-doctors__half--right
					.it-doctors__content
						.it-doctors__title
							|    Тихомирова Юлия Владимировна
						.it-doctors__subtitle
							span
								|	Специальность: &#32;
							|    Главный ветеринарный врач. Хирург
						.it-doctors__desc
							|	В  2005 году окончила Тюменскую государственную сельскохозяйственную академию по специальности «Ветеринария». Замужем. Воспитывает дочь Валерию и сына Федора, чёрного пуделя Милю, трех котов, крыс Роту и Рулю. Свободное время проводит с семьей  — ходит в кино, гуляет, выезжает на природу. Подробнее
							a(href="#").it-doctors__link
								|	Подробнее
						.it-doctors__buttons
							a(href="#").it-doctors__btn.it-btn.it-btn--transparent
								|    Записаться на прием
			.it-doctors__item
				.it-doctors__half.it-doctors__half--left
					.it-doctors__img-box
						img.it-doctors__img(src="static/img/vetklinika72/doctors/1.jpg", alt='')
				.it-doctors__half.it-doctors__half--right
					.it-doctors__content
						.it-doctors__title
							|    Тихомирова Юлия Владимировна
						.it-doctors__subtitle
							span
								|	Специальность: &#32;
							|    Главный ветеринарный врач. Хирург
						.it-doctors__desc
							|	В  2005 году окончила Тюменскую государственную сельскохозяйственную академию по специальности «Ветеринария». Замужем. Воспитывает дочь Валерию и сына Федора, чёрного пуделя Милю, трех котов, крыс Роту и Рулю. Свободное время проводит с семьей  — ходит в кино, гуляет, выезжает на природу. Подробнее
							a(href="#").it-doctors__link
								|	Подробнее
						.it-doctors__buttons
							a(href="#").it-doctors__btn.it-btn.it-btn--transparent
								|    Записаться на прием
