footer.it-footer
	.it-container
		picture
			source(srcset="static/img/vetklinika72/footer/2.jpg" media="(max-width: 768px)")
			source(srcset="static/img/vetklinika72/footer/1.png")
			img(src="static/img/vetklinika72/footer/1.png", alt='')
		.it-footer__wrap
			.it-footer__column.it-footer__column--1
				.it-footer__contacts
					p
						|	Обратная связь:
					p
						|    Абутова Ирина iabutova@vetklinika72.ru
						br
						|	Абутова Татьяна, Генеральный директор
						br
						|	abutova@vetklinika72.ru
				.it-footer__copy
					|    © 2015 Ветеринарная клиника имени
					br
					|	Мамоновой

			.it-footer__column.it-footer__column--2
				.it-location
					.it-location__text
						|   г. Тюмень, ул. Свердлова, д. 5/2
				a.it-phone(href='tel:+73452499-522').it-phone--color
					span.it-phone__img-wrap
						img.it-phone__img(src='static/img/vetklinika72/header/phone.png', alt='')
					| +7 (3452)    &#32;
					b 790-103
					span.it-phone__text
						|   круглосуточно
				a(href="#").it-footer__btn
					|	Заказать звонок
			.it-footer__column.it-footer__column--3
				.it-footer__social-title
					|	Происоединяйтесь к нам:
				ul.it-social.it-social--indent
					li.it-social__item.active
						a(href="#").it-social__link
							svg(width='16', height='9', viewbox='0 0 16 9', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
								g#Canvas(fill='none')
									g(id='XMLID 1')
										g(id='XMLID 807')
											path.it-social__img(fill-rule='evenodd', clip-rule='evenodd', d='M 13.7703 5.72261C 14.301 6.23766 14.8612 6.72226 15.3372 7.28925C 15.5475 7.54121 15.7466 7.80122 15.8989 8.09363C 16.1147 8.5093 15.9192 8.96672 15.5442 8.99154L 13.2133 8.99049C 12.6121 9.04008 12.1325 8.79951 11.7293 8.39095C 11.4066 8.06421 11.1077 7.71647 10.7974 7.37871C 10.6702 7.24066 10.537 7.11075 10.3779 7.00808C 10.0597 6.80278 9.78353 6.86564 9.60169 7.19551C 9.41649 7.53102 9.37449 7.90254 9.3563 8.27646C 9.33133 8.82203 9.16542 8.96546 8.61407 8.99044C 7.43578 9.04567 6.31753 8.86848 5.2787 8.27766C 4.36284 7.75681 3.65263 7.02151 3.03447 6.18907C 1.83089 4.56814 0.909193 2.787 0.0808054 0.955963C -0.105658 0.543428 0.0307068 0.321981 0.488638 0.314143C 1.24905 0.29946 2.00936 0.300505 2.77067 0.313098C 3.07973 0.317592 3.28433 0.493788 3.40366 0.783999C 3.81507 1.7895 4.31847 2.74614 4.95036 3.63287C 5.11863 3.86895 5.29022 4.10502 5.53456 4.27119C 5.80487 4.45517 6.01068 4.39419 6.13784 4.09489C 6.21854 3.9051 6.25386 3.70069 6.27205 3.49743C 6.3323 2.79813 6.34024 2.10004 6.23457 1.40319C 6.1697 0.968295 5.92326 0.686757 5.48667 0.604459C 5.26388 0.5625 5.29705 0.480098 5.40492 0.353699C 5.59228 0.1357 5.76849 -7.01635e-08 6.11976 -7.01635e-08L 8.75406 -7.01635e-08C 9.16878 0.0813574 9.26088 0.266541 9.31766 0.681323L 9.31992 3.58986C 9.3154 3.75044 9.40061 4.22693 9.69158 4.33321C 9.92447 4.40887 10.078 4.22369 10.2177 4.07691C 10.8484 3.41153 11.2986 2.62517 11.7007 1.81092C 11.8792 1.45289 12.0327 1.08106 12.1814 0.709539C 12.2916 0.433854 12.4645 0.298206 12.7769 0.304215L 15.3122 0.306462C 15.3874 0.306462 15.4635 0.307559 15.5363 0.319943C 15.9635 0.392313 16.0806 0.574989 15.9486 0.989666C 15.7407 1.64026 15.3362 2.18244 14.9407 2.72712C 14.5179 3.30864 14.0657 3.87025 13.6464 4.45522C 13.2611 4.9894 13.2917 5.25866 13.7703 5.72261Z', fill='#ffffff')
					li.it-social__item
						a(href="#").it-social__link
							svg.it-social__svg(width='8', height='15', viewbox='0 0 8 15', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
								g#Canvas(fill='none')
									g#facebook
										g#Group
											g#Group_2
												g#Vector
													path.it-social__img(d='M 5 5.15625L 5 3.28125C 5 2.76375 5.448 2.34375 6 2.34375L 7 2.34375L 7 0L 5 0C 3.343 0 2 1.25906 2 2.8125L 2 5.15625L 0 5.15625L 0 7.5L 2 7.5L 2 15L 5 15L 5 7.5L 7 7.5L 8 5.15625L 5 5.15625Z', fill='white')
					li.it-social__item
						a(href="#").it-social__link
							svg(width='15', height='15', viewbox='0 0 15 15', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
								g#Canvas(fill='none')
									g(id='Group 2')
										g#Group
											g#Group_2
												g#Vector
													path.it-social__img(d='M 10.947 0L 4.05296 0C 1.81816 0 0 1.81816 0 4.05296L 0 10.947C 0 13.1818 1.81816 15 4.05296 15L 10.947 15C 13.1818 15 15 13.1818 15 10.947L 15 4.05296C 15 1.81816 13.1818 0 10.947 0ZM 13.7882 10.947C 13.7882 12.5136 12.5137 13.7882 10.947 13.7882L 4.05296 13.7882C 2.48637 13.7882 1.21184 12.5137 1.21184 10.947L 1.21184 4.05296C 1.21184 2.48637 2.48634 1.21184 4.05296 1.21184L 10.947 1.21184C 12.5136 1.21184 13.7882 2.48634 13.7882 4.05296L 13.7882 10.947Z', fill='white')
										g#Group_3
											g#Group_4
												g#Vector_2
													path.it-social__img(d='M 6.69145 2.87021C 6.58481 2.15106 6.25671 1.49926 5.74264 0.985188C 5.22857 0.471145 4.57677 0.14302 3.85765 0.0364087C 3.53023 -0.0121362 3.19827 -0.0121362 2.87087 0.0364087C 1.98212 0.168215 1.19793 0.638196 0.662708 1.35981C 0.127484 2.08142 -0.094733 2.96829 0.0370736 3.85698C 0.16888 4.74571 0.638861 5.5299 1.36047 6.06515C 1.94629 6.49965 2.64092 6.72781 3.35714 6.72781C 3.52317 6.72781 3.69039 6.71557 3.85762 6.69075C 4.74637 6.55895 5.53056 6.08897 6.06579 5.36736C 6.60104 4.64577 6.82326 3.75893 6.69145 2.87021ZM 3.67988 5.49201C 3.11137 5.57645 2.54404 5.43421 2.08241 5.09182C 1.62078 4.74943 1.32013 4.24775 1.23584 3.67924C 1.15153 3.11074 1.29365 2.5434 1.63604 2.08177C 1.97846 1.62014 2.48011 1.31949 3.04865 1.23518C 3.15335 1.21965 3.25879 1.21189 3.36423 1.21189C 3.46967 1.21189 3.57514 1.21965 3.67985 1.23521C 4.62412 1.37522 5.35264 2.10371 5.49268 3.04801C 5.6667 4.22158 4.85351 5.31799 3.67988 5.49201Z', transform='translate(4.16557 4.10657)', fill='white')
										g#Group_5
											g#Group_6
												g#Vector_3
													path.it-social__img(d='M 1.03441 0.17748C 0.921563 0.0646581 0.765381 -6.61611e-08 0.605948 -6.61611e-08C 0.446514 -6.61611e-08 0.290332 0.0646288 0.177481 0.17748C 0.0646585 0.290332 -7.86781e-08 0.44625 -7.86781e-08 0.605947C -7.86781e-08 0.765644 0.0646585 0.921562 0.177481 1.03441C 0.290332 1.14724 0.446514 1.21189 0.605948 1.21189C 0.765381 1.21189 0.921563 1.14727 1.03441 1.03441C 1.14724 0.921562 1.21189 0.765381 1.21189 0.605947C 1.21189 0.446484 1.14724 0.290303 1.03441 0.17748Z', transform='translate(10.6858 3.10229)', fill='white')
				.it-developer
					|	Поддержка
					br
					|	и продвижение сайта:
					img.it-developer__img(src="static/img/vetklinika72/footer/developer.png", alt='')
					span.it-developer__text
						|	IQ Online