section.it-gallery
	.it-container
		.it-gallery__wrap
			a(href="static/img/vetklinika72/gallery/1_big.jpg" data-fancybox rel="gallery").it-gallery__item
				img(src="static/img/vetklinika72/gallery/1.jpg", alt='').it-gallery__img
			a(href="static/img/vetklinika72/gallery/2_big.jpg" data-fancybox rel="gallery").it-gallery__item
				img(src="static/img/vetklinika72/gallery/2.jpg", alt='').it-gallery__img
			a(href="static/img/vetklinika72/gallery/3_big.jpg" data-fancybox rel="gallery").it-gallery__item
				img(src="static/img/vetklinika72/gallery/3.jpg", alt='').it-gallery__img
			a(href="static/img/vetklinika72/gallery/4_big.jpg" data-fancybox rel="gallery").it-gallery__item
				img(src="static/img/vetklinika72/gallery/4.jpg", alt='').it-gallery__img
			a(href="static/img/vetklinika72/gallery/5_big.jpg" data-fancybox rel="gallery").it-gallery__item
				img(src="static/img/vetklinika72/gallery/5.jpg", alt='').it-gallery__img
			a(href="static/img/vetklinika72/gallery/6_big.jpg" data-fancybox rel="gallery").it-gallery__item
				img(src="static/img/vetklinika72/gallery/6.jpg", alt='').it-gallery__img
			a(href="static/img/vetklinika72/gallery/7_big.jpg" data-fancybox rel="gallery").it-gallery__item
				img(src="static/img/vetklinika72/gallery/7.jpg", alt='').it-gallery__img
			a(href="static/img/vetklinika72/gallery/8_big.jpg" data-fancybox rel="gallery").it-gallery__item
				img(src="static/img/vetklinika72/gallery/8.jpg", alt='').it-gallery__img
				