section.it-reviews
	.it-container
		.it-all-title
			|	Отзывы наших клиентов
		.it-reviews__wrap.owl-carousel(data-owl-carousel data-owl-items-dots="true")
			.it-reviews__item
				.it-reviews__half.it-reviews__half--left
					.it-reviews__img-box
						img.it-reviews__img(src="static/img/vetklinika72/reviews/1.jpg", alt='')
				.it-reviews__half.it-reviews__half--right
					.it-reviews__content
						.it-reviews__date
							|    02.03.2018
						.it-reviews__desc
							|	Полгода…много это или мало? Для нашей семьи данное время стало бесценным подарком. Именно его подарили нам и любимому коту Марсику волшебники ветеринарной клиники имени Евгении Мамоновой. Это действительно ЧУДО...
							a(href="#").it-reviews__link
								|   Читать полностью
						.it-reviews__name
							|	Свидерская Екатерина Васильевна

						//.it-reviews__raiting
						//	span.it-reviews__raiting__text
						//		|	Оценка клиента
						//	.it-reviews__raiting-sign
						//		.it-reviews__raiting-item
						//		.it-reviews__raiting-item
						//		.it-reviews__raiting-item
						//		.it-reviews__raiting-item
						//		.it-reviews__raiting-item

			.it-reviews__item
				.it-reviews__half.it-reviews__half--left
					.it-reviews__img-box
						img.it-reviews__img(src="static/img/vetklinika72/reviews/1.jpg", alt='')
				.it-reviews__half.it-reviews__half--right
					.it-reviews__content
						.it-reviews__date
							|    02.03.2018
						.it-reviews__desc
							|	Полгода…много это или мало? Для нашей семьи данное время стало бесценным подарком. Именно его подарили нам и любимому коту Марсику волшебники ветеринарной клиники имени Евгении Мамоновой. Это действительно ЧУДО...
							a(href="#").it-reviews__link
								|   Читать полностью
						.it-reviews__name
							|	Свидерская Екатерина Васильевна

						//.it-reviews__raiting
							//span.it-reviews__raiting__text
							//	|	Оценка клиента
							//.it-reviews__raiting-sign
							//	.it-reviews__raiting-item
							//	.it-reviews__raiting-item
							//	.it-reviews__raiting-item
							//	.it-reviews__raiting-item
							//	.it-reviews__raiting-item
