section.it-service

	.it-container
		.it-all-title
			|    Какая услуга вас интересует?
		.it-service__wrap
			.it-service__item
				.it-service__title
					|    Амбулаторное
					br
					| лечение
				ul.it-service__list
					li
						a(href="#")
							|    Прием врача
					li
						a(href="#")
							|    Вакцинация
					li
						a(href="#")
							|	Чипирование
					li
						a(href="#")
							|	Терапия
					li
						a(href="#")
							|	УЗИ
					li
						a(href="#")
							|	Рентген
			.it-service__item
				.it-service__title
					|    Хирургическое отделение
				ul.it-service__list
					li
						a(href="#")
							|    Кастрация и стерилизация
					li
						a(href="#")
							|	Лечение переломов
					li
						a(href="#")
							|	Экстренная хирургия
			.it-service__item
				.it-service__title
					|    Отделение интенсивной терапии
				ul.it-service__list
					li
						a(href="#")
							|    Круглосуточный стационар
					li
						a(href="#")
							|    Инфекционный стационар
					li
						a(href="#")
							|	Реанимация
			.it-service__item
				.it-service__title
					|    Специалисты
				ul.it-service__list
					li
						a(href="#")
							|    Дерматология
					li
						a(href="#")
							|    Кардиология
					li
						a(href="#")
							|	Офтальмология
					li
						a(href="#")
							|    Акушерство и гинекология
					li
						a(href="#")
							|	Стоматология

		a(href="#").it-service__link
			|	Все услуги
		
section.it-building
	.it-all-title
		|	Как проходило строительство
	.it-container
		.it-building__wrap
			.it-building__item
				img(src="", alt='').it-building__img
		.it-building__buttons
			a(href="#").it-btn.it-building__btn
				|	Перейти в галерею