@import "../__vars";
@import "../__mixins";
@import "../smart-grid";

.it-card {
  margin-bottom: 65px;
}

.it-card__top {
  @include row-flex();
}

.it-card__half--left {
  @include col();
  @include size(6);
  @include size-sm(12);
  justify-content: center;
  @include tablets {
    margin-bottom: 20px;
  }
}

.it-card__half--right {
  @include col();
  @include size(6);
  @include size-sm(12);
}

.it-card__img-box {
  max-width: 361px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  max-height: 330px;
  margin-bottom: 10px;
  @include tablets {
      margin: 0 auto 10px;
  }
}

.it-card__img {
  max-width: 140%;
  height: auto;
  display: block;
}

.it-card__form {
  @include tablets {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }

}

.it-card__code {
  max-width: 112px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 80px;
  text-align: center;
  font-size: 14px;
  color: #9FA3B0;
  padding: 2px 5px;
  margin: 0 auto;
}

.it-card__model-title {
  color: rgba(0, 0, 0, 0.87);
  font-size: rem(20px);
  font-weight: 700;
  margin-bottom: 25px;
  @include tablets {
    margin-bottom: 10px;
  }
}

.it-card__model-price {
  font-size: rem(14px);
  color: #000000;
  font-weight: 300;
  margin-bottom: 25px;
  @include tablets {
    margin-bottom: 10px;
  }
}

.it-card__model-price span {
  color: #E31E24;
  font-size: rem(24px);
  font-weight: 700;
}

.it-card__model-choice {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 15px;
}


.it-card__model-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px 0;
}

.it-card__model-item {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 6px 10px;
}

.it-card__model-show-all {
  color: #E31E24;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 30px;
  display: block;
}

.it-card__model-show-all:hover {
  color: #E31E24;
}

.it-card__model-show-all:active,
.it-card__model-show-all:visited {
  color: #E31E24;
}

.it-card__input-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.it-card__input-text {
  font-size: rem(14px);
  color: rgba(0, 0, 0, 0.87);
  margin-right: 25px;
}

.it-card__select-wrap {
  position: relative;

}

.it-card__select-wrap__popup {
  position: absolute;
  right: -117px;
  top: -41px;
  padding: 8px 10px;
  border: 2px solid $main-color;
  font-size: 12px;
  font-weight: 300;
  color: $main-color;
  text-decoration: underline;
  min-width: 150px;
  border-radius: 5px ;
  z-index: 2;
  display: none;
  background-color: #ffffff;
}

.it-card__select-wrap__popup:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -13px;
  left: -2px;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-left: 12px solid $main-color;
  z-index: 1;

}

.it-card__select-wrap__popup:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left: 10px solid #ffffff;
  z-index: 2;
}




.it-card__select-wrap:hover .it-card__select-wrap__popup {
  display: block;
}


.it-card__all-price-popup {
  position: absolute;
  right: -117px;
  top: -41px;
  padding: 8px 10px;
  border: 2px solid $main-color;
  font-size: 12px;
  font-weight: 300;
  color: $main-color;
  text-decoration: underline;
  min-width: 150px;
  border-radius: 5px ;
  z-index: 2;
  display: none;
  background-color: #ffffff;
}

.it-card__all-price-popup:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -13px;
  left: -2px;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-left: 12px solid $main-color;
  z-index: 1;
}

.it-card__all-price-popup:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left: 10px solid #ffffff;
  z-index: 2;
}


.it-card__all-price-number:hover .it-card__all-price-popup {
  display: block;
}



.it-card__select-wrap:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  width: 0;
  height: 0;
  margin-top: -1px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  background-color: #fff;
  z-index: 2;
  pointer-events: none;
}

.it-card__select {
  max-width: 190px;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  color: rgba(159, 163, 176, 1);
}

.it-card__input-inner-wrap {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.it-card__input-sign {
  width: 30px;
  height: 30px;
  border: none;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.it-card__checkbox {
  max-width: 180px;
  width: 100%;
  margin-bottom: 10px;
}

.it-card__checkbox-pseudo {
  margin-right: 20px;
}

.it-card__checkbox-text {
  color: #000000;
  font-size: 12px;
}

.it-card__checkbox-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.it-card__show-catalog {
  color: #E31E24;
  font-weight: 300;
  font-size: 12px;
  padding-left: 40px;
  position: relative;
  margin-bottom: 25px;
  display: block;
}

.it-card__show-catalog:before {
	content: '';
	display: block;
	position: absolute;
	top: -7px;
	left: 0;
	width: 20px;
	height: 20px;
	background: url("../img/card/decoration/1.png") no-repeat center;
}

.it-card__all-price {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  position: relative;
}

.it-card__all-price-text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  margin-right: 25px;
}

.it-card__all-price-number {
  color: #9FA3B0;
  font-size: 12px;
  position: relative;
}

.it-card__all-price-value {
  color: #9FA3B0;
}

.it-card .it-card__btn--all-transparent {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: #E31E24;
}

.it-card .it-card__btn--all-transparent:hover {
  color: #E31E24;
	text-decoration: none;
  background-color: transparent;
}

.it-card .it-card__btn--all-transparent:active,
.it-card .it-card__btn--all-transparent:visited {
  color: #E31E24;
	text-decoration: none;
  background-color: transparent;
}

.it-card__buttons-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px -10px;
}

.it-card__buttons {
  max-width: 165px;
  width: 100%;
  margin: 0 5px 10px;
}

/******************* checkbox *******************/

.it-card__model-checkbox {
  max-width: 66px;
  width: 100%;
  max-height: 83px;
  position: relative;

}

.it-card__model-checkbox-default {
  width: .1px;
  height: .1px;
  position: absolute;
  top: 0;
  left: 0;
  border: 0!important;
  outline: 0!important;
  background-color: transparent;
}

.it-card__model-checkbox-pseudo {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.it-card__model-checkbox-img {
  max-width: 100%;
  height: auto;
  display: block;
}


.it-card__model-checkbox-pseudo{
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;

}


.it-card__model-checkbox-pseudo:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -ms-transform: scale(.4);
  -webkit-transform: scale(.4);
  transform: scale(.4);
  -webkit-transition: all .225s ease-in-out;
  -o-transition: all .225s ease-in-out;
  transition: all .225s ease-in-out;
  border: 1px solid rgba(227, 30, 36, 0.5);
  cursor: pointer;
}

.it-card__model-checkbox-default:checked+.it-card__model-checkbox-pseudo:before {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}



.it-card__model-list--modal {
  margin: 0 -15px -40px;
}

.it-card__model-list--modal .it-card__model-item {
  margin: 0 15px 40px;
  width: 130px;
  height: 165px;
}

.it-card__model-list--modal  .it-card__model-checkbox-pseudo {
  width: 100%;
  height: 100%;
  max-height: none;
  max-width: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.it-card__model-list--modal .it-card__model-checkbox {
  width: 100%;
  height: 100%;
  max-height: none;
  max-width: none;


}