@import "../__vars";
@import "../__mixins";
@import "../smart-grid";

/******************* it-header *******************/


.box-map__desc {
  position: absolute;
}

.it-header {
  position: relative;
}

.it-header__wrap {
  padding: 2% 0 5% 0;
  overflow: hidden;
}

.it-header__inner-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px -20px;
  overflow: hidden;
}


.it-logo__img-box {
  max-width: 150px;
  width: 100%;
  max-height: 73px;
  overflow: hidden;
}

.it-logo__img {
  max-width: 100%;
  height: auto;
  display: block;
}

.it-header__column {
  max-width: 150px;
  width: 100%;
  flex-basis: 150px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1000;
  margin: 0 25px 20px;
  @include phones {
    margin-bottom: 10px;
  }

}

.it-header__column--1 {
  @include phones {
    max-width: 110px;

  }
}


.it-header__column--2 {
  max-width: 415px;
  flex-basis: 180px;
  flex-grow: 1000;
  @include phones {
    max-width: 122px;
  }

}

.it-header__column--3 {
  max-width: 280px;
  flex-basis: 193px;
  @include phones {
    flex-basis: 133px;
  }

}

.it-header__column--4 {
  max-width: 195px;
  flex-basis: 105px;
}

.it-header__column--5 {
  max-width: 400px;
  flex-basis: 300px;
  flex-grow: 1;
}

.it-header__column--6 {
  max-width: 330px;
  flex-basis: 150px;
  flex-grow: 1;
}

.it-location {
  padding-left: 30px;
  position: relative;

}

.it-location:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 23px;
    top: 7px;
    left: 0;
    background: url("../img/header/1.png") center center;
}

.it-location__text {
  font-size: 14px;
  color: #9FA3B0;
  @include phones {
    font-size: 12px;
  }
}

.it-location__text--adress {
  color: $main-color;
}

.it-desc {
  font-weight: 300;
  font-size: 14px;
  color: #333333;
  @include phones {
    display: none;
  }
}

.it-header__phone-wrap {
  display: flex;
  align-items: center;
}

.it-phone {
  font-size: rem(24px);
  color: #333333;
  text-decoration: none;
  position: relative;
  padding-left: 35px;
  display: block;
  margin-bottom: 10px;
  @include phones {
    font-size: 12px;
  }
}

.it-phone:hover {
  color: #333333;
  text-decoration: none;
}

.it-phone:active,
.it-phone:visited {
  color: #333333;
  text-decoration: none;
}

.it-phone__img-wrap {
  position: absolute;
  top: 4px;
  left: 3px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: $main-color;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  @include phones {
    top: -2px;
  }
}


.it-phone:hover .it-phone__img {
  animation: 1200ms ease 0s normal none 1 running shake;
}

@keyframes shake {
  0% {
    transform: rotateZ(0deg);
  }
  10% {
    transform: rotateZ(-30deg);
  }
  20% {
    transform: rotateZ(15deg);
  }
  30% {
    transform: rotateZ(-10deg);
  }
  40% {
    transform: rotateZ(7.5deg);
  }
  50% {
    transform: rotateZ(-6deg);
  }
  60% {
    transform: rotateZ(5deg);
  }
  70% {
    transform: rotateZ(-4.28571deg);
  }
  80% {
    transform: rotateZ(3.75deg);
  }
  90% {
    transform: rotateZ(-3.33333deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}


.it-header__buttons {
  width: 100%;
}

.it-header__buttons .it-header__btn {
    font-size: 14px;
  @include phones {
    font-size: 12px;
    padding: 8px 2px;
  }
}

.it-search {
  width: 100%;
  max-width: 360px;
  position: relative;
}

.it-search__input {
  border-radius: 5px;
  padding: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  @include phones {
    padding: 5px 5px;
  }
}

.it-search__btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  right: 5px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin-top: -15px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


}


.it-search__input::-webkit-input-placeholder {
  color: rgba(159, 163, 176, 1);
}

.it-search__input::-moz-placeholder {
  color: rgba(159, 163, 176, 1);
}

.it-search__input:-ms-input-placeholder {
  color: rgba(159, 163, 176, 1);
}

.it-search__input:-moz-placeholder {
  color: rgba(159, 163, 176, 1);
}


