@import "../__vars";
@import "../__mixins";
@import "../smart-grid";

.it-partners {
}

.it-partners__wrap {
  padding: 10px 50px;
  background-color: rgba(237, 237, 237, 1);
};

.it-partners__half {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

}

.it-partners__img {
  max-width: 100%;
  width: auto !important;
  height: auto;
}

/******************* partners+owl *******************/


.it-partners .box-carousel .owl-nav .owl-next,.it-partners .box-carousel .owl-nav .owl-prev {
  position: absolute;
  width: 66px;
  height: 66px;
  top: 50%;
  margin-top: -33px;
  font-size: 0;
  border-radius: 50%;
  background-color: #ffffff;
  right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.it-partners .box-carousel .owl-nav .owl-next:hover,.it-partners .box-carousel .owl-nav .owl-prev:hover {
  opacity: .5
}

.it-partners .box-carousel .owl-nav .owl-prev {
  left: -27px;
}

.it-partners .box-carousel .owl-nav .owl-next {
  right: -27px;
  border-left: none;
}

.it-partners .box-carousel .owl-nav .owl-next:after,.it-partners .box-carousel .owl-nav .owl-prev:after {
  content: "";

  width: 16px;
  height: 34px;

  background: url("../img/partners/arrow.png") center no-repeat;
}

.it-partners .box-carousel .owl-nav .owl-prev:after {
  transform: scale(-1);
  margin-left: 2px;
}

.it-partners .box-carousel .owl-nav .owl-next:after {
  transform: scale(1);
  margin-right: 2px;

}