section.it-about-us
	.it-container
		.it-all-title
			span.it-all-title__text
				|    о компании
		.it-about-us__wrap
			.it-about-us__item.it-about-us__item--bg-1
				.it-about-us__content
					.it-about-us__title
						| Собственное
						br
						| производство
					.it-about-us__desc
						|    Производим винтовые сваи
						br
						b
							|	от 2 до 7 метров по ГОСТу
			.it-about-us__item.it-about-us__item--bg-2
				.it-about-us__content
					.it-about-us__title
						| Работаем
						br
						|	быстро и в срок
					.it-about-us__desc
						|    Время выполнения заказа
						b
							|	1-2 дня.
						br
						|	Сроки фиксируем в договоре
			.it-about-us__item.it-about-us__item--bg-3
				.it-about-us__content
					.it-about-us__title
						| Работаем
						br
						| с 2009 года
					.it-about-us__desc
						|    Возводим более
						b
							|	1,5 тыс.
						br
						|	фундаментов в год
			.it-about-us__item.it-about-us__item--bg-4.it-about-us__item--size
				.it-about-us__content
					.it-about-us__title
						| Парк собственной
						br
						|	спецтехники
					.it-about-us__desc
						|    В работе используем собственную спецтехнику, с высокой производительностью: ямобур, экскаватор-погрузчик, манипулятор. Сдаем в аренду с высококвалифицированным водителем
			.it-about-us__item.it-about-us__item--bg-5
				.it-about-us__content
					.it-about-us__title
						| Бурим
						br
						| в сложных местах
					.it-about-us__desc
						|    За счет
						b
							|	12-метровой
						br
						|	телескопической стрелы бурим
						br
						|	даже в тесных придомовых территориях