section.it-advantages
	.it-container
		.it-all-title
			span.it-all-title__text
				|	Преимущества винтового фундамента
		.it-all-subtitle
			|    Компания «Про-Бурим 72» занимается установкой быстровозводимого фундамента на винтовых сваях. Применяется на рельефных
			| местностях и в местах с неустойчивыми грунтами. Служит надежной и устойчивой основой для будущего строения.
		.it-advantages__wrap
			.it-advantages__half.it-advantages__half--left
				iframe(width='100%', height='315', src='https://www.youtube.com/embed/RRK0EtlHCoo', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
			.it-advantages__half.it-advantages__half--right
				.it-advantages__content
					ul.it-advantages__list
						li.it-advantages__item
							.it-advantages__desc
								|    Стоимость на 50% ниже по сравнению
								br
								| с монолитным и ленточным основанием
						li.it-advantages__item.it-advantages__item--icon-1
							.it-advantages__desc
								|    Сроки строительства фундамента — 1-2 дня
						li.it-advantages__item.it-advantages__item--icon-2
							.it-advantages__desc
								|    Не требуется гидроизоляция
						li.it-advantages__item.it-advantages__item--icon-3
							.it-advantages__desc
								|   Монтаж в любое время года и на любом грунте
						li.it-advantages__item.it-advantages__item--icon-4
							.it-advantages__desc
								|    Срок службы 50-100 лет

