section.it-base-offer
	.it-container
		.it-base-offer__wrap
			.it-base-offer__item
				.it-base-offer__content
					.it-base-offer__title
						|	Бурение под винтовые сваи
						br
						|	от 200 рублей за м²
					.it-page-offer__subtitle
						|    Бурим скважины под фундамент в любое время года.
						br
						| Используем свой ямобур, соблюдаем СНиП.
					.it-base-offer__buttons
						a(href="#").it-base-offer__btn.it-btn
							|	Получить  консультацию
