section.it-callback
	.it-container
		.it-callback__wrap
			.it-callback-title
				|   Бесплатный расчет стоимости винтового фундамента
			.it-callback-subtitle
				|	Укажите ваш номер телефона. Менеджер перезвонит и рассчитает стоимость.
				br
				|	Если необходимо для расчета, на участок подъедет мастер.
			form.it-callback__form(action="", method="post")
				.it-callback__input-wrap
					.it-callback__half
						input.it-callback__input(type="text" name='NAME', maxlength='200', value='', placeholder='Ваше имя', required)
					.it-callback__half
						input.it-callback__input(type='tel', name='PHONE', maxlength='200', value='', placeholder='Ваш телефон', data-phone='true', required)
					.it-callback__half.it-callback__buttons
						a(href="").it-btn.it-callback__btn Отправить

				.it-checkbox-wrap.it-callback__checkbox-wrap
					label.it-checkbox
								input.it-checkbox__default(type="checkbox" name="AGREE" checked)
								span.it-checkbox__pseudo
								span.it-checkbox__text
									|	Я согласен на обработку персональных данных
					.it-form__success
						| Спасибо!
						br
						|  Ваша заявка принята.