section.it-clients
	.it-container
		.it-all-title
			.it-all-title__text
				|	наши клиенты
		ul.it-clients__wrap
			li.it-clients__item
				img.it-clients__img(src='static/img/pro-burim72/clients/1.png', alt='')
			li.it-clients__item
				img.it-clients__img(src='static/img/pro-burim72/clients/2.png', alt='')
			li.it-clients__item
				img.it-clients__img(src='static/img/pro-burim72/clients/3.png', alt='')
			li.it-clients__item
				img.it-clients__img(src='static/img/pro-burim72/clients/4.png', alt='')
			li.it-clients__item
				img.it-clients__img(src='static/img/pro-burim72/clients/5.png', alt='')
