section.it-discount
	.it-container
		.it-discount__wrap
			.it-discount__half.it-discount__half--left
				.it-discount__content
					.it-discount__title
						|    Скидка на все виды работ
						| при комплексном заказе
					.it-discount__desc
						|    Вы получаете скидку при заказе под ключ, включающем
						| производство свай, доставку, бурение лунок и установку свайного фундамента. Размер скидки зависит от объема заказа.
					.it-discount__buttons
						button.it-discount__btn.it-btn
							|	Оставить заявку
			.it-discount__half.it-discount__half--right
				.it-discount__img-box
					img(src="static/img/pro-burim72/discount/1.jpg", alt='').it-discount__img