.it-container
	section.it-factors.it-all--indent
		.it-factors__main-title
			|	факторы ценообразования
		.it-factors__main-subtitle
			|	Стоимость — от 200 рублей за метр. На цену влияет:
		.it-factors__wrap
			.it-factors__item
				.it-factors__content
					.it-factors__img-box
						img.it-factors__igm(src="static/img/pro-burim72/factors/1.png", alt='')
					.it-factors__title
						|	Тип грунта
			.it-factors__item
				.it-factors__content
					.it-factors__img-box
						img.it-factors__igm(src="static/img/pro-burim72/factors/2.png", alt='')
					.it-factors__title
						|	Сложность участка
			.it-factors__item
				.it-factors__content
					.it-factors__img-box
						img.it-factors__igm(src="static/img/pro-burim72/factors/3.png", alt='')
					.it-factors__title
						|	Колличество свай
			.it-factors__item
				.it-factors__content
					.it-factors__img-box
						img.it-factors__igm(src="static/img/pro-burim72/factors/4.png", alt='')
					.it-factors__title
						|	Длина свай
			.it-factors__item
				.it-factors__content
					.it-factors__img-box
						img.it-factors__igm(src="static/img/pro-burim72/factors/5.png", alt='')
					.it-factors__title
						|	Диаметр свай
			.it-factors__item
				.it-factors__content
					.it-factors__img-box
						img.it-factors__igm(src="static/img/pro-burim72/factors/6.png", alt='')
					.it-factors__title
						|	Удаленность участка