nav.it-main-nav
	.it-nav__trigger(data-trigger='1')
		span.it-nav__trigger-line.it-nav__trigger-line--top
		span.it-nav__trigger-line.it-nav__trigger-line--middle
		span.it-nav__trigger-line.it-nav__trigger-line--bottom
	.it-main-nav__wrap(data-it-nav)
		ul.it-main-nav__list
			li
				a(href="#")
					|	Главная
			li
				a(href="#")
					|	Услуги
				ul
					li
						a(href="#")
							|    Бурение под винтовые сваи
					li
						a(href="#")
							|    Установка опор ЛЭП
					li
						a(href="#")
							|    Монтаж винтовых свай
			li
				a(href="#")
					|	Винтовой фундамент
			li
				a(href="#")
					|	Наши работы
			li
				a(href="#")
					|	Партнерам
			li
				a(href="#")
					|	Контакты
