section.it-photo
	.it-all-title
		.it-all-title__text
			|	фото рабочего процесса
	.it-container
		ul.it-photo__wrap
			li.it-photo__item
				a(href="static/img/pro-burim72/photo/1_big.jpg" data-fancybox rel="photo-group").it-photo__img-box
					img(src="static/img/pro-burim72/photo/1.jpg", alt='').it-photo__img
			li.it-photo__item
				a(href="static/img/pro-burim72/photo/2_big.jpg" data-fancybox rel="photo-group").it-photo__img-box
					img(src="static/img/pro-burim72/photo/2.jpg", alt='').it-photo__img
			li.it-photo__item
				a(href="static/img/pro-burim72/photo/3_big.jpg" data-fancybox rel="photo-group").it-photo__img-box
					img(src="static/img/pro-burim72/photo/3.jpg", alt='').it-photo__img
			li.it-photo__item
				a(href="static/img/pro-burim72/photo/4_big.jpg" data-fancybox rel="photo-group").it-photo__img-box
					img(src="static/img/pro-burim72/photo/4.jpg", alt='').it-photo__img
			li.it-photo__item
				a(href="static/img/pro-burim72/photo/5_big.jpg" data-fancybox rel="photo-group").it-photo__img-box
					img(src="static/img/pro-burim72/photo/5.jpg", alt='').it-photo__img
			li.it-photo__item
				a(href="static/img/pro-burim72/photo/6_big.jpg" data-fancybox rel="photo-group").it-photo__img-box
					img(src="static/img/pro-burim72/photo/6.jpg", alt='').it-photo__img
			li.it-photo__item
				a(href="static/img/pro-burim72/photo/7_big.jpg" data-fancybox rel="photo-group").it-photo__img-box
					img(src="static/img/pro-burim72/photo/7.jpg", alt='').it-photo__img
			li.it-photo__item
				a(href="static/img/pro-burim72/photo/8_big.jpg" data-fancybox rel="photo-group").it-photo__img-box
					img(src="static/img/pro-burim72/photo/8.jpg", alt='').it-photo__img
