section.it-price.it-all--indent
	.it-container
		.it-all-title
			span.it-all-title__text
				|	Стоимость монтажа винтового фундамента
		.it-price__wrap
			table.it-price__table
				tbody.it-price__inner-table
					tr
						th
							|	Диаметр трубы 89
						th
							|	3 м
						th
							|	4 м
						th
							|	5 м
					tr
						td
							|	Монтаж под «ленту» (свая + монтаж)
						td
							|	от 2 000 р.
						td
							|	от 2 400 р.
						td
							|	от 2 800 р.
					tr
						td
							|	Под ключ «эконом» (вкручивание по уровню, приваривание оголовка)
						td
							|	от 2 500 р.
						td
							|	от 2 800 р.
						td
							|	от 3 200 р.
					tr
						td
							|    Монтаж под ключ (вкручивание, обрезка, монтажных отверстий
							br
							| по уровню,  засыпка ЦПС, приваривание оголовка)
						td
							|	от 2 700 р.
						td
							|	от 3 100 р.
						td
							|	от 3 600 р.
