section.it-reviews.it-all--indent
	.it-all-title
		.it-all-title__text
			|	Отзывы
	.it-container
		.it-reviews__wrap.owl-carousel(data-owl-carousel data-owl-items="3" data-owl-items-pad="2" data-owl-items-dots="true" )
			.it-reviews__item
				a(href="#").it-reviews__video
					iframe(width='100%', height='178', src='https://www.youtube.com/embed/2Hsbel4lLQo', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
				.it-reviews__title
					b
						|	Клиент:
					|	Валерий Игнатов
				a(href="#").it-reviews__link
					|	Смотреть видео
			.it-reviews__item
				a(href="#").it-reviews__video
					iframe(width='100%', height='178', src='https://www.youtube.com/embed/2Hsbel4lLQo', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
				.it-reviews__title
					b
						|	Клиент:
					|	Валерий Игнатов
				a(href="#").it-reviews__link
					|	Смотреть видео
			.it-reviews__item
				a(href="#").it-reviews__video
					iframe(width='100%', height='178', src='https://www.youtube.com/embed/2Hsbel4lLQo', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
				.it-reviews__title
					b
						|	Клиент:
					|	Валерий Игнатов
				a(href="#").it-reviews__link
					|	Смотреть видео
			.it-reviews__item
				a(href="#").it-reviews__video
					iframe(width='100%', height='178', src='https://www.youtube.com/embed/2Hsbel4lLQo', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
				.it-reviews__title
					b
						|	Клиент:
					|	Валерий Игнатов
				a(href="#").it-reviews__link
					|	Смотреть видео