section.it-schema.it-all--indent#it-schema
	.it-container
		.it-all-title
			span.it-all-title__text
				|    Схема работы
		ul.it-schema__wrap
			li.it-schema__item(data-step-item)
				.it-schema__half
					.it-schema__content
						.it-schema__title
							|    Расчет стоимости
						.it-schema__desc
							|   Вы можете вызвать нашего мастера для осмотра участка или приехать в наш цех,
							| чтобы наглядно оценить качество свай.
							| Затем мы рассчитаем стоимость
							|  и заключим договор.
			li.it-schema__item(data-step-item)
				.it-schema__half
					.it-schema__content
						.it-schema__title
							|    Работа
						.it-schema__desc
							|    Мастера приступают к работе через 1-2 дня. Срок строительства — 1-2 дня.
			li.it-schema__item(data-step-item)
				.it-schema__half
					.it-schema__content
						.it-schema__title
							|    Прием работ
						.it-schema__desc
							|    Проверяете и подписываете акт приёма работ и оплачиваете услугу.