form.it-search.js-validate.search-form(action="/" method="get" )
	input.it-search__input.form-control(tabindex="1" name="s" placeholder="Поиск по сайту")
	button.it-search__btn()
		img(src="static/img/pro-burim72/search/1.png" alt="")