section.it-services
	.it-container
		.it-all-title
			span.it-all-title__text
				|    услуги
		.it-services__wrap
			.it-services__item
				.it-services__img-box
					img(src="static/img/pro-burim72/services/1.png", alt='').it-services__img
				.it-services__title
					|	Продажа винтовых свай
				.it-services__buttons
					button.it-services__btn.it-btn
						|	Подробнее
			.it-services__item
				.it-services__img-box
					img(src="static/img/pro-burim72/services/2.png", alt='').it-services__img
				.it-services__title
					|    Бурение
					br
					| под винтовые сваи
				.it-services__buttons
					button.it-services__btn.it-btn
						|	Подробнее
			.it-services__item
				.it-services__img-box
					img(src="static/img/pro-burim72/services/3.png", alt='').it-services__img
				.it-services__title
					|    Монтаж/ установка
					br
					| винтового фундамента
				.it-services__buttons
					button.it-services__btn.it-btn
						|	Подробнее