section.it-technics
	.it-container
		.it-all-title
			span.it-all-title__text
				|	техника
		.it-technics__wrap.owl-carousel(data-owl-carousel data-owl-items-dots="true")
			.it-technics__item
				.it-technics__title
					|    Ямобур HINO RANGER 4WD
				.it-technics__top
					.it-technics__half.it-technics__half--left
						table.it-technics__table
							tbody.it-technics__inner-table
								tr
									td
										|    Полный привод
									td
										|   высокая проходимость
								tr
									td
										|   Глубина бурения
									td
										|   до 12 метров
								tr
									td
										|    Диаметр скважин
									td
										|   от 250 до 600 см
								tr
									td
										|    Время работ
									td
										|  круглый год
								tr
									td
										|   Скорость
									td
										|    до 100 свай в день
								tr
									td
										|   Качество
									td
										|    высокое, за счет точности
										br
										|	расположения отверстий
					.it-technics__half.it-technics__half--right
						.it-technics__img-box
							img(src="static/img/pro-burim72/technics/1.jpg", alt='').it-technics__img
				.it-technics__bottom
					.it-technics__buttons
						button.it-technics__btn.it-btn
							|	арендовать
			.it-technics__item
				.it-technics__title
					|    Экскаватор-погрузчик Komatsu WB93S
				.it-technics__top
					.it-technics__half.it-technics__half--left
						table.it-technics__table
							tbody.it-technics__inner-table
								tr
									td
										|    Равноколесный тип колес
									td
										|   высокая проходимость
								tr
									td
										|   Грузоподьемность ковша
									td
										|   до 1 тонны
								tr
									td
										|    Радиус поворота
									td
										|   4,7 м
								tr
									td
										|   Скорость
									td
										|   от 6 до 40 км/ч
								tr
									td
										|    Мобильность
									td
										|    панорамное остекление для контроля «слепых зон», 3 режима передвижения, включая «крабовый ход» для работы
										| в тесных условиях
								tr
									td
										|    Дополнение
									td
										|    редуктор, в дополнение к заднему ковшу и гидробуру, поэтому, техника может работать в качестве ямобура
					.it-technics__half.it-technics__half--right
						.it-technics__img-box
							img(src="static/img/pro-burim72/technics/2.jpg", alt='').it-technics__img
				.it-technics__bottom
					.it-technics__buttons
						button.it-technics__btn.it-btn
							|	арендовать
			.it-technics__item
				.it-technics__title
					|    Экскаватор-погрузчик Komatsu WB93S
				.it-technics__top
					.it-technics__half.it-technics__half--left
						table.it-technics__table
							tbody.it-technics__inner-table
								tr
									td
										|    Угол поворота
									td
										|    360°
								tr
									td
										|    Размер платформы
									td
										|   5,8×2,2 м. Перевозит газель или бытовку
								tr
									td
										|    Грузоподъемность борта
									td
										|    5 т. Перевозит 100 мешков цемента
								tr
									td
										|    Максимальная рабочая высота
									td
										|   8,7 м . Кран поднимает груз на 2 этаж
								tr
									td
										|    Грузоподъемность манипуляторной установки
									td
										|    3т.  Выгружает 100 мешков
										| цемента в 2 подхода
					.it-technics__half.it-technics__half--right
						.it-technics__img-box
							img(src="static/img/pro-burim72/technics/3.jpg", alt='').it-technics__img
				.it-technics__bottom
					.it-technics__buttons
						button.it-technics__btn.it-btn
							|	арендовать



