section.it-accordion-3.it-all--indent.it-all--indent-hide
	.it-container
		h2.it-all-title
			| Выгоды использования  АСУ "Жилищный Стандарт" (Автоматизация диспетчерской службы УК)
		ul.it-accordion-3__wrap(data-it-accord-wrap='')
			li.it-accordion-3__item
				.it-accordion-3__toggle(data-it-accord-toggle='')
					.it-accordion-3__img-box
						img(src="static/img/zhil-standart/accordion-3/1.png", alt='').it-accordion-3__img
					h3.it-accordion-3__title
						| Для диспетчера
					.it-accordion-3__sign-wrap(data-it-sign='')
						//.it-accordion-3__sign
						//	img(src='<?= SITE_TEMPLATE_PATH ?>/images/lechenye/callback2-arrow.png', alt='')
				.it-accordion-3__content(data-it-accord-item='')
					.it-accordion-3__desc
						ul
							li
								|	Все необходимые электронные журналы всегда под рукой: заявки, платные заявки, аварийные отключения
							li
								|	Удобный оперативный журнал, отображающий всю актуальную информацию по жителю, с которым диспетчер ведет работу
							li
								|	Журнал голосовых сообщений, которые звонящие могут оставить в случае отсутствия или занятости диспетчера
							li
								|	Возможность соединить жителя и исполнителя работ по заявке
							li
								|	Автопостановка задач на основе производственного календаря
							li
								|	Автоматическое распределение входящих вызовов между диспетчерами
			li.it-accordion-3__item
				.it-accordion-3__toggle(data-it-accord-toggle='')
					.it-accordion-3__img-box
						img(src="static/img/zhil-standart/accordion-3/2.png", alt='').it-accordion-3__img
					h3.it-accordion-3__title
						| Для работника управляющей компании
					.it-accordion-3__sign-wrap(data-it-sign='')
						//.it-accordion-3__sign
						//	img(src='<?= SITE_TEMPLATE_PATH ?>/images/lechenye/callback2-arrow.png', alt='')
				.it-accordion-3__content(data-it-accord-item='')
					.it-accordion-3__desc
						ul
							li
								|    Всегда в курсе своих задач
							li
								|	В курсе актуальных аварийных отключений
							li
								|	Вся информация об обслуживаемых домах всегда под рукой
							li
								|	push и смс-уведомления о новых задачах и аварийных отключениях
							li
								|	Возможность фотофиксации результата выполненных работ по задаче
							li
								|	Фиксация показаний общедомовых приборов учета
							li
								|	Возможность оставлять аудиокомментарии по выполняемым задачам
							li
								|	Фотофиксация проблем, обнаруженных на жилом фонде в процессе обхода
			li.it-accordion-3__item
				.it-accordion-3__toggle(data-it-accord-toggle='')
					.it-accordion-3__img-box
						img(src="static/img/zhil-standart/accordion-3/3.png", alt='').it-accordion-3__img
					h3.it-accordion-3__title
						| Для собственников жилья
					.it-accordion-3__sign-wrap(data-it-sign='')
						//.it-accordion-3__sign
						//	img(src='<?= SITE_TEMPLATE_PATH ?>/images/lechenye/callback2-arrow.png', alt='')
				.it-accordion-3__content(data-it-accord-item='')
					.it-accordion-3__desc
						ul
							li
								|    Всегда в курсе всех актуальных событий УК: аварийные отключения; новости и объявления УК; выполнение работ по оставленным заявкам
							li
								|    Возможность передать Заявку в УК множеством способов: через сайт УК; через мобильное приложение; голосовое сообщение на АТС; разговор с диспетчером

							li
								|    Возможность оценить работы, проведенные по оставленной заявке

							li
								|    Передача показаний приборов учета любыми способами без контакта с сотрудником УК

							li
								|	Оплата платных заявок из мобильного приложения
