section.it-advantages-2.it-all--indent
	.it-container
		h2.it-all-title
			|    Преимущества автоматизации диспетчерской службы УК с помощью АСУ «Жилищный стандарт»
		ul.it-advantages-2__wrap
			li.it-advantages-2__item
				.it-advantages-2__content
					.it-advantages-2__img-box
						img(src="static/img/zhil-standart/advantages-2/1.png", alt='').it-advantages-2__img
					.it-advantages-2__title
						|    Автообзвон жителей
						br
						| по заданному сценарию
			li.it-advantages-2__item
				.it-advantages-2__content
					.it-advantages-2__img-box
						img(src="static/img/zhil-standart/advantages-2/2.png", alt='').it-advantages-2__img.it-advantages-2__img--indent
					.it-advantages-2__title
						|	Мобильное приложение для
						br
						|	Жителей; Мобильное приложение
						br
						|	для сотрудников УК
			li.it-advantages-2__item
				.it-advantages-2__content
					.it-advantages-2__img-box
						img(src="static/img/zhil-standart/advantages-2/3.png", alt='').it-advantages-2__img
					.it-advantages-2__title
						|	Система SMS и PUSH уведомлений жителей и сотрудников УК
			li.it-advantages-2__item
				.it-advantages-2__content
					.it-advantages-2__img-box
						img(src="static/img/zhil-standart/advantages-2/4.png", alt='').it-advantages-2__img
					.it-advantages-2__title
						|	Автоматическая выгрузка
						br
						|	информации на сайт УК и ГИС ЖКХ
			li.it-advantages-2__item
				.it-advantages-2__content
					.it-advantages-2__img-box
						img(src="static/img/zhil-standart/advantages-2/5.png", alt='').it-advantages-2__img
					.it-advantages-2__title
						|	Балансировка загрузки сотрудников, автопостановка задач
			li.it-advantages-2__item
				.it-advantages-2__content
					.it-advantages-2__img-box
						img(src="static/img/zhil-standart/advantages-2/6.png", alt='').it-advantages-2__img
					.it-advantages-2__title
						|	Автоматическое формирование документов (наряды, договоры на платные услуги и т.п.)
		.it-advantages-2__link-wrap
			a(href="#").it-advantages-2__link.it-all-link
				|    Скачать полный список функций  АСУ "Жилищный Стандарт"
				br
				| (автоматизация диспетчерской службы управляющей компании)