section.it-calculation-2.it-all--indent
	.it-container
		.it-calculation-2__outer-wrap
			h2.it-all-title
				|	Рассчитайте ваш ежемесячный платеж
			.it-calculation-2__wrap
				.it-calculation-2__top
					.it-calculation-2__top-half.it-calculation-2__top-half--left
						.it-calculation-2-form__wrap
							.it-calculation-2-form__input-wrap
								.it-calculation-2-form__half
									label.it-calculation-2-form__input-title
										.it-calculation-2-form__input-title-text.it-calculation-2-form__input-title-text--icon
											|    Введите количество м2 в управлении
										input.it-calculation-2-form__input(type="text" name='meters', maxlength='600', value='', placeholder='00 000 м2', data-meters)
										.it-calculation-2__error-text
											|    Введите число в правильном формате
								.it-calculation-2-form__half
									label.it-calculation-2-form__input-title
										.it-calculation-2-form__input-title-text
											|    Сумма ежемесячного платежа
										input.it-calculation-2-form__input.it-calculation-2-form__input--color(type='text', name='rub', maxlength='600', value='', placeholder='00 рублей', disabled data-sum)
					.it-calculation-2__top-half.it-calculation-2__top-half--right
						.it-calculation-2__img-box
							img(src="static/img/zhil-standart/calculation-2/1.png", alt='').it-calculation-2__img
				.it-calculation-2__bottom
					.it-calculation-2__buttons
						.it-calculation-2__btn.it-btn
							|	Рассчитать
					a(href="#").it-calculation-2__link.it-all-link
						|	Цена за автоматизацию всех бизнес-процессов УК




