section.it-offer-2
	.it-container
		.it-offer-2__wrap
			.it-offer-2__half.it-offer-2__half--top
				.it-offer-2__content
					.it-offer-2__title
						|    Автоматизация диспетчерской службы УК
					.it-offer-2__desc
						| Облегчает жизнь всем участникам процесса!
						br
						| Первые шесть месяцев использование ПО - бесплатно.
					.it-offer-2__buttons
						a(href="#").it-btn.it-offer-2__btn
							|	Заполнить заявку
			.it-offer-2__half.it-offer-2__half--bottom
					ul.it-offer-2__list
						li.it-offer-2__item
							.it-offer-2__img-box
								img(src="static/img/zhil-standart/offer-2/1.png", alt='').it-offer-2__img
							.it-offer-2__img-title
								|	Управляющая компания
						li.it-offer-2__item
							.it-offer-2__img-box
								img(src="static/img/zhil-standart/offer-2/2.png", alt='').it-offer-2__img
							.it-offer-2__img-title
								|	Диспетчеры
						li.it-offer-2__item
							.it-offer-2__img-box
								img(src="static/img/zhil-standart/offer-2/3.png", alt='').it-offer-2__img
							.it-offer-2__img-title
								|	Собственники жилья