section.it-slider
	.it-slider__wrap.owl-carousel(data-owl-carousel owl-items-autoplay="false" data-owl-items-dots="true")
		.it-slider__item
			.it-container
				.it-slider__inner-item
					.it-slider__half.it-slider__half--left
						h2.it-all-title
							|    Снижение нагрузки диспетчеров
							span
								|  до 50%
							|    за счет:
						.it-slider__content
							ul
								li
									|    смс-уведомлений;
								li
									|	push-уведомлений;
								li
									|    автоинформирования на АТС;
								li
									|	приема заявок с помощью голосовой почты;
								li
									|	приема заявок через сайт УК и мобильное приложение;
						.it-slider__buttons
							button.it-slider__btn.it-btn
								|	Заполнить заявку
					.it-slider__half.it-slider__half--right
						.it-slider__img-box
							img(src="static/img/zhil-standart/slider/1.png", alt='').it-slider__img
		.it-slider__item
			.it-container
				.it-slider__inner-item
					.it-slider__half.it-slider__half--left
						h2.it-all-title
							|    Повышение эффективности труда сотрудников УК на
							span
								|  10-20%
							|    за счет:
						.it-slider__content
							ul
								li
									|   исключения бумажного документооборота;
								li
									|    исключения необходимости тратить время на получение заданий;
								li
									|    возможности 100% контроля исполнения задачи;
								li
									|	мотивации к качественной работе;
						.it-slider__buttons
							button.it-slider__btn.it-btn
								|	Заполнить заявку
					.it-slider__half.it-slider__half--right
						.it-slider__img-box
							img(src="static/img/zhil-standart/slider/2.png", alt='').it-slider__img
		.it-slider__item
			.it-container
				.it-slider__inner-item
					.it-slider__half.it-slider__half--left
						h2.it-all-title
							|    Повышение лояльности собственников жилья
						.it-slider__content
								|	Собственники вовремя получают всю актуальную информацию, через мобильное приложение могут оставить заявку. Как
								br
								|	следствие, уровень удовлетворенности работой УК со стороны жителей растет.
						.it-slider__buttons
							button.it-slider__btn.it-btn
								|	Заполнить заявку
					.it-slider__half.it-slider__half--right
						.it-slider__img-box
							img(src="static/img/zhil-standart/slider/3.png", alt='').it-slider__img