section.it-video-3
	.it-container
		h2.it-all-title
			|    Видео о возможностях программного обеспечения
		.it-video-3__wrap
			.it-video-3__video
				iframe(width='100%', height='703', src='https://www.youtube.com/embed/h9MkddjBgf8', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
			.it-video-3__bottom
				.it-video-3__desc
					p
						|	Если вы заинтересованы в использовании  АСУ "Жилищный Стандарт" в своей организации, то просто отправьте заявку,
						br
						|	и первые
						b
							|    6 месяцев пользуйтесь всем функционалом бесплатно.
					p
						|	Чтобы рассчитать абонентскую плату с 7-го месяца,
						a(href="#")
							|	воспользуйтесь калькулятором!
				.it-video-3__buttons
					a(href="#").it-video-3__btn.it-btn
						|	Заполнить заявку