@import "../__vars";
@import "../__mixins";
@import "../smart-grid";

.it-base-offer {
  background-color: #E3E3E3;
}

.it-base-offer__wrap {
  padding: 45px 0 ;
}

.it-base-offer__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.it-base-offer__half {
  flex-grow: 1;
  flex-basis: 270px;
}

.it-base-offer__half--left {
  flex-grow: 1000;
  max-width: 580px;
  padding: 0 4% 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.it-base-offer__half--right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

}

.it-base-offer__content {
  overflow: hidden;
  
}

.it-base-offer__title {
  font-size: rem(30px);
  font-weight: 700;
  color: #333333;
  margin-bottom: 30px;
}



.it-page-offer__subtitle {
  color: #333333;
  font-size: 14px;
  margin-bottom: 35px;
  line-height: 1.5;
}

.it-base-offer__img-box {
  max-width: 400px;
  width: 100%;
  max-height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.it-base-offer__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.it-base-offer__buttons {
  max-width: 190px;
}

/******************* base-offer+owl *******************/

.it-base-offer .owl-carousel .owl-nav {
  position: absolute;
  bottom: 20px;
  left: 50%;
  max-width: 250px;
  margin-left: -125px;
  width: 100%;

}

.it-base-offer .owl-carousel .owl-next, .it-base-offer .owl-carousel .owl-prev {
  width: 40px;
  height: 40px;
  font-size: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;

}

.it-base-offer .owl-carousel .owl-next:hover, .it-base-offer .owl-carousel .owl-prev:hover {
  opacity: .5
}

.it-base-offer .owl-carousel .owl-next:after, .it-base-offer .owl-carousel .owl-prev:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../img/vetklinika72/base/arrow.png") 51% no-repeat;
}

.it-base-offer .owl-carousel .owl-prev:after {
  transform: scale(-1);

}

.it-base-offer .owl-carousel .owl-next:after {
  transform: scale(1);
}

.it-base-offer .owl-carousel .owl-prev {
  float: left;
}

.it-base-offer .owl-carousel .owl-next {
  float: right;
}

/******************* base-offer+owl-dots *******************/

.it-base-offer .owl-carousel .owl-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 10000;
  max-width: 160px;
  width: 100%;
  margin-left: -80px;
  text-align: center;
}

.it-base-offer .owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: 2px solid #e3e3e3;
  background: #B5B5B5;
  border-radius: 50%;
  transition: .2s;
  margin: 0 8px;
}

.it-base-offer .owl-carousel .owl-dots .owl-dot.active, .it-base-offer .owl-carousel .owl-dots .owl-dot:hover {
  background-color: $main-color;
  border-color: $main-color;
}
