@import "../__vars";
@import "../__mixins";
@import "../smart-grid";

/******************* it-modal *******************/

.it-modal {
  z-index: 3000;
  position: relative;
  max-width: 100%;
  display: none;
  background: #ffffff;
  padding: 0;
  width: 516px;
}

.it-modal__wrap {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.it-modal__header {
  background-color: #FBFAFA;
  padding: 40px 30px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #F1F1F1;
  flex-wrap: wrap;
  justify-content: center;
}

.it-modal__header-content {
  max-width: 400px;
  flex-basis: 150px;
  flex-grow: 1;
  width: 100%;
}

.it-modal__img-box {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-right: 25px;
  flex-shrink: 0;

}


.it-modal__img {
  opacity: 0.3;
}

.it-modal__content {
  padding: 40px 35px;
  text-align: left;
}

.it-modal__title {
  font-size: rem(24px);
  font-weight: 700;
  margin-bottom: 10px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}

.it-modal__subtitle {
  font-size: rem(18px);
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
}

.it-modal-label {
  display: block;
  margin-bottom: 15px;
}

.it-modal__input {
  width: 100%;
  padding: 10px 20px ;
  height: auto ;
  margin-bottom: 25px;
  border-radius: 5px ;
  box-sizing: border-box;
  font-size: 0.81rem;
  font-weight: 300;
  border: 1px solid rgba(80, 66, 66, 0.2);
}

.it-modal__input--textarea {
  resize: vertical;
  min-height: 128px;
  margin-bottom: 20px;
}

.it-modal__input--indent {
  margin-bottom: 15px;
}

.it-modal__prompt {
  margin-bottom: 40px;
}

.it-modal__input::-webkit-input-placeholder {
  color: rgba(92, 92, 92, 1);
}
.it-modal__input::-moz-placeholder {
  color: rgba(92, 92, 92, 1);
}
.it-modal__input:-ms-input-placeholder {
  color: rgba(92, 92, 92, 1);
}
.it-modal__input:-moz-placeholder {
  color: rgba(92, 92, 92, 1);
}

.it-modal__input-wrap {
  position: relative;
  display: block;
}

.it-modal__select {
  cursor: pointer;
  color: rgba(92, 92, 92, 1);
}

.it-modal__input-wrap--arrow:before {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  right: 2px;
  width: 40px;
  height: 50%;
  background-color: #ffffff;
  background-image: url("../img/input-arrow.png");
  background-repeat: no-repeat;
  background-position: center left;
  pointer-events: none;
}


.it-modal .it-modal__btn {
  font-size: rem(20px);
  font-weight: 700;
}


.fancybox-close {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 10000;
  background: transparent;
}

.fancybox-close:hover {
  opacity: 0.7;
}


.fancybox-close:before, .fancybox-close:after {
  content: ' ';
  position: absolute;
  left: 15px;
  height: 20px;
  width: 2px;
  background-color: #000000;
}
.fancybox-close:before {
  transform: rotate(45deg);
}

.fancybox-close:after {
  transform: rotate(-45deg);
}

.it-modal__input-title {
  font-size: rem(14px);
  font-weight: 400;
  color: #5C5C5C;
  margin-bottom: 10px;
}

.it-modal-policy {
  padding: 30px;
}



/******************* checkbox-form *******************/



.it-modal__checkbox-wrap {
  width: 100%;
  margin-bottom: 30px;
}

.it-modal__checkbox-wrap + .it-modal__checkbox-wrap {
  margin-top: 16px;
}

.it-modal__checkbox-wrap--indent {
  margin-bottom: 15px;
}

.it-modal__checkbox {
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  text-align: left;
  width: 100%;
  position: relative;

}

.it-modal__checkbox-default {
  width: .1px;
  height: .1px;
  position: absolute;
  top: 0;
  left: 0;
  border: 0!important;
  outline: 0!important;
  background-color: transparent;
}

.it-modal__checkbox-pseudo,
.it-modal__checkbox-pseudo:before {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

.it-modal__checkbox-pseudo {
  background-color: #fff;
  border: 1px solid rgba(80,66,66,.2);
  margin-right: 20px;
  position: relative;
  left: 0;
  top: 0;
  line-height: 17px;
}


.it-modal__checkbox-pseudo:before {
  content: '\002714';
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
  top: 0;
  left: -1px;
  text-align: center;
  font-size: 16px;
  color: $main-color;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -ms-transform: scale(.4);
  -webkit-transform: scale(.4);
  transform: scale(.4);
  -webkit-transition: all .225s ease-in-out;
  -o-transition: all .225s ease-in-out;
  transition: all .225s ease-in-out;
  cursor: pointer;
}

.it-modal__checkbox-default:checked+.it-modal__checkbox-pseudo:before {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.it-modal__checkbox-text {
  font-size: 14px;
  color: #333333;
  font-weight: 300;
  -ms-flex-preferred-size: 80px;
  flex-basis: 75px;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

}

//******************* it-modal-size *******************/
.it-modal-size {
  width: 700px;
  max-width:100%;
}

.it-modal-size__img {
  max-width:100%;
  display: block;
  height: auto;
}
.it-modal-model {
  width: 1030px;
  max-width: 100%;
  padding: 10%;
}

.it-modal-price {
  width: 515px;
  max-width: 100%;
  padding: 10% 10%;
}

.it-modal-price p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 25px;
}

.it-modal-price span {
  color: rgba(0, 0, 0, 0.87);
}

.it-modal-difference {
  width: 1030px;
  max-width: 100%;
}

.it-modal-map {
  width: 1030px;
  max-width: 100%;
  background: transparent;
  max-height: 495px;
}

.it-modal-map__img-box {
  max-width: 229px;
  width: 100%;
}

#it-modal-map__wrap {
  width: 1030px;
  max-width: 100%;
  height: 495px;
}