section.about-us
    .about-us__wrap
        .about-us__title
            |   О нас в цифрах
        ul.about-us__list
            li.about-us__item
                .about-us__content
                    .about-us__numeric
                        span.about-us__numeric-number
                            |   13
                        span.about-us__numeric-text
                            |   лет
                    .about-us__desc
                        |   на рынке производства спортивной одежды
            li.about-us__item
                .about-us__content
                    .about-us__numeric
                        span.about-us__numeric-number
                            |   60 +
                    .about-us__desc
                        |   сотрудников на
                        br
                        |   производстве
            li.about-us__item
                .about-us__content
                    .about-us__numeric
                        span.about-us__numeric-number
                            |   1
                        span.about-us__numeric-text
                            |   миллион
                    .about-us__desc
                        |   Пошито курток
                        br
                        | за годы работы
