section.it-advantages.it-all--indent
	.it-all-title
		|	Почему выгодно заказывать у нас?
	.it-container
		.it-advantages__wrap
			ul.it-advantages__list
				li.it-advantages__item
					.it-advantages__inner-item
						.it-advantages__top
							.it-advantages__img-box
								img.it-advantages__img(src="static/img/advantages/1.png", alt='')
						.it-advantages__title
							|	Комплексный подход
						.it-advantages__desc
							| изготовим полотно, наденем на древко, доставим заказчику
				li.it-advantages__item
					.it-advantages__inner-item
						.it-advantages__top
							.it-advantages__img-box
								img.it-advantages__img(src="static/img/advantages/2.png", alt='')
						.it-advantages__title
							|	Краткие сроки изготовления
						.it-advantages__desc
							| срочный заказ можем
							| выполнить за 1 день
				li.it-advantages__item
					.it-advantages__inner-item
						.it-advantages__top
							.it-advantages__img-box
								img.it-advantages__img(src="static/img/advantages/3.png", alt='')
						.it-advantages__title
							|	Услуги дизайнера
						.it-advantages__desc
							| нарисуем и изготовим любой флаг по вашему эскизу
				li.it-advantages__item
					.it-advantages__inner-item
						.it-advantages__top
							.it-advantages__img-box
								img.it-advantages__img(src="static/img/advantages/4.png", alt='')
						.it-advantages__title
							|	Монтаж флагов
						.it-advantages__desc
							| смонтируем флаги на конструкцию любого типа
