.it-base-offer
	.it-container
		.it-base-offer__wrap.owl-carousel(data-owl-carousel data-owl-items-dots="true")
			.it-base-offer__item
				.it-base-offer__half.it-base-offer__half--left
					.it-base-offer__content
						.it-base-offer__title
							|	Изготовление флагов к 1 и 9 мая
							br
							span
								|	от 300 рублей!
						.it-page-offer__subtitle
							|    Оставьте ваши контактные данные, вам перезвонит наш специалист
							| и уточнит информацию о заказе:
						.it-base-offer__input-wrap
							.it-base-offer__input-half
								input(name="name" type="text" placeholder="Ваш телефон").it-base-offer__input
							.it-base-offer__input-half.it-base-offer__buttons
								a(href="#").it-base-offer__btn.it-btn
									|	Заказать
						.it-checkbox-wrap.it-callback__checkbox-wrap
							label.it-checkbox.it-base-offer__checkbox
								input.it-checkbox__default(type="checkbox" name="AGREE" checked)
								span.it-checkbox__pseudo
								span.it-checkbox__text
									|    Подтверждаю свое согласие на обработку персональных данных
				.it-base-offer__half.it-base-offer__half--right
					.it-base-offer__img-box
						img.it-base-offer__img(src="static/img/base-offer/1.png", alt='')
			.it-base-offer__item
				.it-base-offer__half.it-base-offer__half--left
					.it-base-offer__content
						.it-base-offer__title
							|	Оказываем услуги по монтажу флагов.
							br
							span
								|	Вам не нужно искать подрядчика!
						.it-page-offer__subtitle
							|    Оставьте ваши контактные данные, вам перезвонит наш специалист
							| и уточнит информацию о заказе:
						.it-base-offer__input-wrap
							.it-base-offer__input-half
								input(name="name" type="text" placeholder="Ваш телефон").it-base-offer__input
							.it-base-offer__input-half.it-base-offer__buttons
								a(href="#").it-base-offer__btn.it-btn
									|	Заказать
						.it-checkbox-wrap.it-callback__checkbox-wrap
							label.it-checkbox.it-base-offer__checkbox
								input.it-checkbox__default(type="checkbox" name="AGREE" checked)
								span.it-checkbox__pseudo
								span.it-checkbox__text
									|    Подтверждаю свое согласие на обработку персональных данных
				.it-base-offer__half.it-base-offer__half--right
					.it-base-offer__img-box
						img.it-base-offer__img(src="static/img/base-offer/2.png", alt='')
			.it-base-offer__item
				.it-base-offer__half.it-base-offer__half--left
					.it-base-offer__content
						.it-base-offer__title
							|	Делаем скидки до 40% на крупные заказы.
							br
							span
								|	Спецусловия для постоянных клиентов!
						.it-page-offer__subtitle
							|    Оставьте ваши контактные данные, вам перезвонит наш специалист
							| и уточнит информацию о заказе:
						.it-base-offer__input-wrap
							.it-base-offer__input-half
								input(name="name" type="text" placeholder="Ваш телефон").it-base-offer__input
							.it-base-offer__input-half.it-base-offer__buttons
								a(href="#").it-base-offer__btn.it-btn
									|	Заказать
						.it-checkbox-wrap.it-callback__checkbox-wrap
							label.it-checkbox.it-base-offer__checkbox
								input.it-checkbox__default(type="checkbox" name="AGREE" checked)
								span.it-checkbox__pseudo
								span.it-checkbox__text
									|    Подтверждаю свое согласие на обработку персональных данных
				.it-base-offer__half.it-base-offer__half--right
					.it-base-offer__img-box
						img.it-base-offer__img(src="static/img/base-offer/3.png", alt='')
			