section.base-card
	.it-all-title
		|	Варианты изготовления и цены
	.it-container
		ul.base-card__wrap
			li.base-card__item
				.base-card__img-box
					img(src="static/img/base-card/1.jpg", alt='').base-card__img
				.base-card__content
					.base-card__title
						|	Флаг России
					.base-card__desc
						|    Изготавливается в стандартныех размерах: 15х22 см. (продаются вместе с трубочкой) и 90х135 см.
						| (с карманом под древко)


					.base-card__price-wrap
						.base-card__number
							|	от
							span
								|	25 ₽ / шт.
						a(href="#").base-card__link.base-card__link--size
							|	полный прайс
					.base-card__buttons
						a(href="#").it-btn.base-card__btn.it-btn--transparent
							|	Рассчитать цену
			li.base-card__item
				.base-card__img-box
					img(src="static/img/base-card/2.jpg", alt='').base-card__img
				.base-card__content
					.base-card__title
						|	Стяги, траспаранты, перетяжки
					.base-card__desc
						|    Для оформления улиц, площадей, праздничных колон, мероприятий. Изготавливаем в любых размерах &#32;
						a(href="#it-modal-banners" data-modal).base-card__link
							|	Подробнее
					.base-card__price-wrap
						.base-card__number
							|	от
							span
								|	330 ₽ / м
								sup
									|	2
						a(href="#").base-card__link.base-card__link--size
							|	полный прайс
					.base-card__buttons
						a(href="#").it-btn.base-card__btn.it-btn--transparent
							|	Рассчитать цену
			li.base-card__item
				.base-card__img-box
					img(src="static/img/base-card/3.jpg", alt='').base-card__img
				.base-card__content
					.base-card__title
						|	Флаги для организаций
					.base-card__desc
						|   Печатаем на шелке, атласе, флажной сетке. Изготовим флаг любой сложности и любого размера.
					.base-card__price-wrap
						.base-card__number
							|	от
							span
								|	96 ₽ за 40х60 см.
						a(href="#").base-card__link.base-card__link--size
							|	полный прайс
					.base-card__buttons
						a(href="#").it-btn.base-card__btn.it-btn--transparent
							|	Рассчитать цену
			li.base-card__item
				.base-card__img-box
					img(src="static/img/base-card/4.jpg", alt='').base-card__img
				.base-card__content
					.base-card__title
						|	Брендирование флагами
					.base-card__desc
						|    Флаги для оформления торговых, автомобильных, офисных центров.
					.base-card__price-wrap
						.base-card__number
							|	от
							span
								|	900 ₽ за 100х150 см.
						a(href="#").base-card__link.base-card__link--size
							|	полный прайс
					.base-card__buttons
						a(href="#").it-btn.base-card__btn.it-btn--transparent
							|	Рассчитать цену