.it-container
    .it-breadcrumbs
        a(href="#").it-breadcrumbs__link
            |   Главная &#32;
        span.it-breadcrumbs__separator
            |  > &#32;
        a(href="#").it-breadcrumbs__link
            |   Продукция
        span.it-breadcrumbs__separator
            |  > &#32;
        a(href="#").it-breadcrumbs__link
            |   Экипировка &#32;
        span.it-breadcrumbs__separator
            |  > &#32;
        span
            |  Игровой хоккейный свитер
