section.it-card
	.it-card__wrap
		.it-card__top
			.it-card__half.it-card__half--left
				a(href="static/img/card/1.jpg" data-modal).it-card__img-box
					img(src="static/img/card/1.jpg", alt=''  data-model-big-img).it-card__img
				.it-card__code
						|	Арт. 312-345
			.it-card__half.it-card__half--right
				form(action="" method="post").it-card__form
					.it-card__title
					.it-card__price
						span.it-card__price-number
					.it-card__model-wrap
						.it-card__model-title
							|	Свитер хоккейный
						.it-card__model-price
							| от
							span.it-card__model-price-value
								|	0 000 ₽
						.it-card__model-choice
							|	Выберите модель свитера:
						ul.it-card__model-list
							li.it-card__model-item(data-model-item)
								label.it-card__model-checkbox
									input.it-card__model-checkbox-default(type="radio" name="model1" checked )
									.it-card__model-checkbox-pseudo
										img(src="static/img/card/2.jpg", alt='' data-model-img).it-card__model-checkbox-img
							li.it-card__model-item(data-model-item)
								label.it-card__model-checkbox
									input.it-card__model-checkbox-default(type="radio" name="model1" )
									.it-card__model-checkbox-pseudo
										img(src="static/img/card/3.jpg", alt='' data-model-img).it-card__model-checkbox-img
							li.it-card__model-item(data-model-item)
								label.it-card__model-checkbox
									input.it-card__model-checkbox-default(type="radio" name="model1" )
									.it-card__model-checkbox-pseudo
										img(src="static/img/card/4.jpg", alt='' data-model-img).it-card__model-checkbox-img
							li.it-card__model-item(data-model-item)
								label.it-card__model-checkbox
									input.it-card__model-checkbox-default(type="radio" name="model1" )
									.it-card__model-checkbox-pseudo
										img(src="static/img/card/5.jpg", alt='' data-model-img).it-card__model-checkbox-img

						a(href="#it-modal-model" data-modal).it-card__model-show-all
							|	показать все модели свитеров
						.it-modal-model.it-modal#it-modal-model
							.it-container
								.it-modal-policy__wrap
									ul.it-card__model-list.it-card__model-list--modal
										li.it-card__model-item(data-model-item)
											label.it-card__model-checkbox
												input.it-card__model-checkbox-default(type="radio" name="model1" checked )
												.it-card__model-checkbox-pseudo
													img(src="static/img/card/2.jpg", alt='' data-model-img).it-card__model-checkbox-img
										li.it-card__model-item(data-model-item)
											label.it-card__model-checkbox
												input.it-card__model-checkbox-default(type="radio" name="model1" )
												.it-card__model-checkbox-pseudo
													img(src="static/img/card/3.jpg", alt='' data-model-img).it-card__model-checkbox-img
										li.it-card__model-item(data-model-item)
											label.it-card__model-checkbox
												input.it-card__model-checkbox-default(type="radio" name="model1" )
												.it-card__model-checkbox-pseudo
													img(src="static/img/card/4.jpg", alt='' data-model-img).it-card__model-checkbox-img
										li.it-card__model-item(data-model-item)
											label.it-card__model-checkbox
												input.it-card__model-checkbox-default(type="radio" name="model1" )
												.it-card__model-checkbox-pseudo
													img(src="static/img/card/5.jpg", alt='' data-model-img).it-card__model-checkbox-img
										li.it-card__model-item(data-model-item)
											label.it-card__model-checkbox
												input.it-card__model-checkbox-default(type="radio" name="model1" )
												.it-card__model-checkbox-pseudo
													img(src="static/img/card/5.jpg", alt='' data-model-img).it-card__model-checkbox-img
										li.it-card__model-item(data-model-item)
											label.it-card__model-checkbox
												input.it-card__model-checkbox-default(type="radio" name="model1" )
												.it-card__model-checkbox-pseudo
													img(src="static/img/card/5.jpg", alt='' data-model-img).it-card__model-checkbox-img
										li.it-card__model-item(data-model-item)
											label.it-card__model-checkbox
												input.it-card__model-checkbox-default(type="radio" name="model1" )
												.it-card__model-checkbox-pseudo
													img(src="static/img/card/5.jpg", alt='' data-model-img).it-card__model-checkbox-img


						label.it-card__input-wrap
							.it-card__input-text
								|	Тип свитера:
							.it-card__select-wrap
								select.it-card__select(name='fuel', required='' )
									option(value='Анатомический', selected='', )
										| Анатомический
									option(value='Электрический котел')
										| Игровой
								a(href="#it-modal-difference" data-modal).it-card__select-wrap__popup
									|	Узнать, в чем разница
						label.it-card__input-wrap
							.it-card__input-text
								|	Количество:
							.it-card__input-inner-wrap
								.it-card__input-sign(data-sign-minus)
									|	-
								input.it-card__input-sign(name="количество" value="10" data-sign-value ).it-card__input-quantity
								.it-card__input-sign(data-sign-plus)
									|	+
						.it-card__checkbox-wrap
							label.it-checkbox.it-card__checkbox
								input.it-checkbox__default(type="checkbox" name="AGREE" )
								span.it-checkbox__pseudo.it-card__checkbox-pseudo
								span.it-checkbox__text.it-card__checkbox-text
									|    Срочный заказ (1-2 дня)
									br
									|	надбавка 50%
							label.it-checkbox.it-card__checkbox
								input.it-checkbox__default(type="checkbox" name="AGREE" )
								span.it-checkbox__pseudo.it-card__checkbox-pseudo
								span.it-checkbox__text.it-card__checkbox-text
									|    Срочный заказ (3-4 дня)
									br
									| надбавка 25%
						a(href="#it-modal-size" data-modal).it-card__show-catalog
							|	посмотреть каталог размеров и цен

						.it-card__all-price
							.it-card__all-price-text
								|	Общая стоимость:
							.it-card__all-price-number
								| от &#32;
								span.it-card__all-price-value
									| 00 000 &#32;
								| руб.*
								a(href="#it-modal-price" data-modal).it-card__all-price-popup
									|	Узнать подробности
						.it-card__buttons-wrap
							.it-card__buttons
								a(href="#it-modal1" data-modal).it-btn.it-card__btn
									|	Оформить заказ
							.it-card__buttons
								a(href="#it-steps").it-btn.it-card__btn.it-card__btn--all-transparent
									|	Добавить деталей к заказу

