.it-examples.it-all--indent
	.it-all-title
		|	Примеры выполненных работ
	.it-container
		.it-examples__wrap.owl-carousel(data-owl-carousel data-owl-items="4")
			a(href="static/img/examples/1_big.jpg" data-modal rel="examples").it-examples__item
				img(src="static/img/examples/1.jpg", alt='').it-examples__img
			a(href="static/img/examples/2_big.jpg" data-modal rel="examples").it-examples__item
				img(src="static/img/examples/2.jpg", alt='').it-examples__img
			a(href="static/img/examples/3_big.jpg" data-modal rel="examples").it-examples__item
				img(src="static/img/examples/3.jpg", alt='').it-examples__img
			a(href="static/img/examples/4_big.jpg" data-modal rel="examples").it-examples__item
				img(src="static/img/examples/4.jpg", alt='').it-examples__img