header.it-header
    .it-container
        .it-header__wrap
            .it-header__inner-wrap
                .it-header__column.it-header__column--1
                    a.it-logo(href='/')
                        .it-logo__img-box
                            img.it-logo__img(src='static/img/header/logo.png', alt='')
                .it-header__column.it-header__column--2
                    .it-location
                        .it-location__text.it-location__text--city
                            |   г. Тюмень,
                        a(href="#it-modal-ma" data-modal data-modal-map).it-location__text.it-location__text--adress
                            |   ул. Бакинских Комиссаров, д.4
                .it-header__column.it-header__column--3
                    .it-header__phone-wrap
                        a.it-phone(href='tel:+73452499-522')
                            span.it-phone__img-wrap
                                img.it-phone__img(src='static/img/header/phone/1.png', alt='')
                            | +7 (3452)    &#32;
                            b 565-292

                .it-header__column.it-header__column--4
                    .it-header__buttons
                        a.it-btn.it-btn--transparent.it-header__btn(href='#it-modal1', data-modal='')
                            | Заказать звонок

                .it-header__column.it-header__column--5
                    .it-desc
                            | Производство и продажа формы
                            br
                            | для профессионального и любительского спорта
                .it-header__column.it-header__column--6
                    form.it-search.js-validate.search-form(action="/" method="get" )
                        input.it-search__input.form-control(tabindex="1" name="s" placeholder="Поиск")
                        button.it-search__btn()
                            img(src="static/img/header/search/1.png" alt="")
    include nav








