section.it-partners.it-all--indent
	.it-all-title
		|	Нашими услугами уже воспользовались
	.it-partners__wrap.owl-carousel.box-carousel(data-items="4" data-items-pad="4")
		.it-partners__half
			img(src="static/img/partners/1.png", alt='').it-partners__img
		.it-partners__half
			img(src="static/img/partners/2.png", alt='').it-partners__img
		.it-partners__half
			img(src="static/img/partners/3.png", alt='').it-partners__img
		.it-partners__half
			img(src="static/img/partners/4.png", alt='').it-partners__img
		.it-partners__half
			img(src="static/img/partners/4.png", alt='').it-partners__img