section.it-photo.it-all--indent
    .it-all-title
        |	Нашими услугами уже воспользовались
    .it-photo__wrap.owl-carousel.box-carousel
        .it-photo__half
            img(src="static/img/photo/1.jpg", alt='').it-photo__img
        .it-photo__half
            img(src="static/img/photo/1.jpg", alt='').it-photo__img
