section.it-tabs
	.it-container
		ul.it-tabs__nav-wrap(data-switch-wrap='').it-tabs__nav-wrap--jus-content
			li.it-tabs__nav-item.active
				a.it-tabs__nav-link(href='', data-switch='speaker1')
					span.it-tabs__inner-text
						|	Описание
			li.it-tabs__nav-item
				a.it-tabs__nav-link(href='', data-switch='speaker2')
					span.it-tabs__inner-text
						|	Гарантии
			li.it-tabs__nav-item
				a.it-tabs__nav-link(href='', data-switch='speaker3')
					span.it-tabs__inner-text
						|	Доставка и оплата

		ul.it-tabs__list(data-tabs-wrap='')
			li.it-tabs__item.active(data-tab='speaker1')
				.it-tabs__content
					ul
						li
							b
								|   Производим флаги с 2005 года:
							p
								|    Заказать можно государственный или региональный флаг, флаг коммерческой организации, спортивного клуба или персональный.
								| Мы оказываем полный комплекс услуг - от пошива флага до его монтажа. Если вы хотите заказать флаг, заполните форму на сайте или позвоните в наш офис - +7 (345) 265-91-88 (пн. - пт. с 07:00 до 16:00 (МСК) без обеда)

			li.it-tabs__item(data-tab='speaker2')
				.it-tabs__content
					ul
						li
							b
								|   Информация о гарантии и условиях эксплуатации:
							p
								| Изготовленные методом сублимационной печати, наши флаги имеют высокую стойкость к свету, стирке и трению. Они не выгорают, их можно стирать и гладить.
								| Окраска не изменится ни от воздействия температуры (до 60°С), ни от трения и влаги, ни от светового воздействия.
							p
								|    Срок службы изготовленных нами флагов на заказ определяется износостойкостью самой ткани в определенных климатических условиях и при определенном режиме эксплуатации. Ткань может разрушиться под воздействием ветровых нагрузок, а окраска останется прежней. Гарантийные обязательства предоставляются в соответствии с ГОСТ 51131-98.
					ul
						li
							b
								|   Рекомендации по уходу:
							p
								| В среднем, при непрерывном использовании на улице, срок службы флага составляет от 6 до 12 месяцев. Поэтому мы рекомендуем сразу заказывать комплект сменных флагов.
							p
								|    Также рекомендуется снимать флаги с флагштоков при сильном, порывистом ветре (более 15м/с) и объявлении штормового предупреждения.
			li.it-tabs__item(data-tab='speaker3')
				.it-tabs__content
					ul
						li
							b
								|    Наличный расчёт:
							p
								|    Вы можете оплатить заказ наличными курьеру при его получении или в пункте самовывоза.
								| При получении товара обязательно проверьте комплектацию заказа, наличие гарантийного талона и чека.
					ul
						li
							b
								|    Банковские карты:
							p
								|    Вы можете оплатить заказ банковской картой в пункте самовывоза
							p
								|    Безопасность платежей с помощью банковских карт обеспечивается технологиями защищенного соединения HTTPS и двухфакторной аутентификации пользователя 3D Secure.
							p
								|	В соответствии с ФЗ «О защите прав потребителей» в случае, если вам оказана услуга или реализован товар ненадлежащего качества, платеж может быть возвращен на банковскую карту, с которой производилась оплата. Порядок возврата средств уточняйте у администрации интернет-магазина.
					ul
						li
							b
								|    Онлайн-оплата
							p
								|    Для оплаты покупки на этапе оформления заказа вы будете перенаправлены на платежный шлюз Robokassa.
								| Оплата происходит с использованием следующих платежных систем:
							img(src="static/img/tabs/1.jpg", alt='')
					ul
						li
							b
								|   Безналичный расчёт
							p
								|	После оформления заказа и его проверки менеджером магазина будет сформирован счёт на оплату, который вы можете распечатать и оплатить. Денежные средства поступят на наш счёт в течение 1-2 рабочих дней после оплаты заказа.
							p
								|	Все необходимые для бухгалтерии документы (оригинал счёта на оплату, счёт-фактура, накладная) выдаются вместе с заказом при получении.
