doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width", initial-scale=1)
        title pro-burim72
        link(rel="stylesheet" type="text/css" href="static/css/jquery.fancybox.css" )
        link(rel="stylesheet" type="text/css" href="static/css/owl.carousel.min.css" )
        link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic', rel='stylesheet')
        link(rel="stylesheet" type="text/css" href="static/css/main.css" )
        script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')

    body
        .it-main-page__wrapper
            .it-main-page__content
                include pro-burim72/header
                include pro-burim72/base-offer
                include pro-burim72/advantages
                include pro-burim72/price
                include pro-burim72/discount
                include pro-burim72/services
                include pro-burim72/about-us
                include pro-burim72/schema
                include pro-burim72/factors
                include pro-burim72/callback
                include pro-burim72/technics
                include pro-burim72/photo
                include pro-burim72/clients
                include pro-burim72/reviews
                include pro-burim72/callback2



                //include vetklinika72/header
                //include vetklinika72/base-offer
                //include vetklinika72/service
                //include vetklinika72/symptoms
                //include vetklinika72/about-us
                //include vetklinika72/gallery
                //include vetklinika72/doctors
                //include vetklinika72/reviews
                //include vetklinika72/help
                //include vetklinika72/footer

                //include sportmpro/callback-file
                //include sportmpro/tabs
                //include sportmpro/nav
                //include sportmpro/base-offer
                //include sportmpro/base-card
                //include sportmpro/advantages
                //include sportmpro/callback
                //include sportmpro/tabs
                //include sportmpro/examples
                //include sportmpro/base-steps
                //include sportmpro/seo-text




        script(src='static/js/jquery.min.js', type='text/javascript')
        script(src='static/js/jquery.fancybox.js', type='text/javascript')
        script(src='static/js/jquery.maskedinput.min.js', type='text/javascript')
        script(src='static/js/owl.carousel.min.js', type='text/javascript')
        script(src='static/js/main.js', type='text/javascript')
        script(src='static/js/script.js', type='text/javascript')
