@import "../__vars";
@import "../__mixins";
@import "../smart-grid";


.it-accordion-3__wrap {
  margin: 0;
  padding: 0;
}

.it-accordion-3__item {
  list-style-type: none;
}

.it-accordion-3__toggle {
  padding: 15px 60px 15px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
  position: relative;
  background-color: $main-color;
  margin-bottom: 20px;
  @include phones {
    padding-left: 10px;
  }

}

.it-accordion-3__toggle.active {
  margin-bottom: 0;
}

.it-accordion-3__wrap  .it-accordion-3__item:last-child  .it-accordion-3__toggle{
  margin-bottom: 0;
}

.it-accordion-3__title {
  font-size: 16px;
  font-weight: 700;
  flex-grow: 1000;
  color: #FFFFFF;
  flex-basis: 160px;
  margin: 0;
  padding: 0;
  @include phones {
    font-size: 14px;
  }
}


.it-accordion-3__sign-wrap {
  position: absolute;
  top: 50%;
  right: 5px;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}


.it-accordion-3__sign-wrap:not(.active):after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2px;
  width: 4px;
  height: 22px;
  margin-top: -11px;
  background-color: $main-color;
}


.it-accordion-3__sign-wrap:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
  margin-left: -11px;
	width: 22px;
	height: 4px;
  margin-top: -2px;
    background-color: $main-color;
}


/*
.it-accordion-3__sign {
  transition: all 0.3s ease;
}

.it-accordion-3__sign-wrap.active .it-accordion-3__sign {
  transform: rotate(180deg);
}
*/

.it-accordion-3__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.it-accordion-3__desc {
  width: 100%;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  flex-basis: 400px;
  flex-grow: 1000;
  padding-right: 0;
}


.it-accordion-3__img-box {
  width: 30px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
  @include phones {
    margin-right: 10px;
  }
}

.it-accordion-3__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.it-accordion-3__desc ul {
  margin: 0;
  padding: 0;
}

.it-accordion-3__desc li {
  list-style-type: none;
  padding: 3% 7%;
  font-size: 14px;
  color: #333333;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
}

.it-accordion-3__desc li:last-child {
  margin-bottom: 0;
}
