@import "../__vars";
@import "../__mixins";
@import "../smart-grid";

.it-advantages-2__wrap {
  margin: 0;
  padding: 6% 0 0;
  @include row-flex();
  justify-content: space-between;
  @include tablets {
    justify-content: center;
  }

}

.it-advantages-2__item {
  list-style-type: none;
  padding-left: 0;
  @include col();
  @include size(4);
  @include size-sm(6);
  @include size-xs(12);
  padding-bottom: 9%;
  text-align: center;
  max-width: 280px;
}

.it-advantages-2__img-box {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 60px;
  width: 100%;
  max-height: 50px;
  margin-bottom: 15px;
}

.it-advantages-2__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.it-advantages-2__title {
  font-size: 14px;
  color: #000000;
}

.it-advantages-2__link-wrap {
  text-align: center;
}