@import "../__vars";
@import "../__mixins";
@import "../smart-grid";

.it-advantages-2__wrap {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //@include tablets {
  //  justify-content: center;
  //}
  margin-bottom: 25px;

}

.it-advantages-2__item {
  list-style-type: none;
  border: 1px solid #CCCCCC;
  text-align: center;
  max-width: 391px;
  flex-basis: 300px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;;
}

.it-advantages-2__img-box {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 58px;
  width: 100%;
  height: 58px;
  margin-bottom: 10px;
  min-height: 36px;
  position: relative;
}

.it-advantages-2__img-box:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 58px;
  height: 58px;
  background: url("../img/zhil-standart/advantages-2/decoration.png") no-repeat center;
}

.it-advantages-2__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.it-advantages-2__img--indent {
  margin-right: -10px;
}

.it-advantages-2__title {
  font-size: 14px;
  color: #000000;
}

.it-advantages-2__link-wrap {
  text-align: center;
}

.it-advantages-2__content {
  max-width: 275px;
  width: 100%;
}